
<div class="container" style="text-align: center">
      <h1> Objet du mail :  </h1> <h3> <%= email.object%></h3>
      <br>
      <br>
      <h2> Contenu du mail : </h2> <p> <%= email.body%></p>

      <a href="#" class="btn btn-danger">Mettre ce mail à la poubelle</a>

      <a href="#" class="btn btn-success">Marquer comme non lu</a>
</div>